
    /*Margin top mengatur posisi kebawah,
    % digunakan Untuk mengatur jarak kebawah dgn signifikan sedang px sangat sedikit*/


.carousel-text {
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    padding: 30% 5%;
    background: #389EB6;
    color: #fff;
    border-radius: 15px;
}

.carousel-text a{
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;

}

.carousel-text h4{
    font-size: 25px;
    padding-top: 30px;
}

.single-box{
    position: relative;
    margin-bottom: 30px;
}

