body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}
.navbar{
    z-index: 3;
}
/* *{
    z-index: 2;
} */
.navbar-brand {
    font-weight: 500;
    font-size: 20px;
}

.nav-link {
    font-size: 15px;
    font-weight: 600;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #2CA5C5;
    transition: .6s;
}
.navbar-nav .nav-item .nav-link.active{
    color: #2CA5C5;
}
/* Hero */
#hero {
    height: 100%;
}
.asset {
    z-index: -1;
}

.hero-tagline{
    padding-top: 180px;
    padding-bottom: 10%;
}
.hero-tagline h1 {
    color: #273E71;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    width: 90%;
}
.hero-tagline p {
    color: #1AAEAE;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: 20px;
    line-height: 30px;
    width: 90%;
}

.button-lg{
    width: 137px;
    height: 70px;
    background-color: #389EB6;
    color: #f3fff4;
    border: none;
    font-size: 26px;
    font-weight: 600;
    border-radius: 40px;
}
#kategori{
    padding: 100px 0;
    background-color: #C6F4FF;
}
.kategori-font{
    font-size: 48px;
    font-weight: 500;
    color: #273E71;
}
.sub-title{
    font-size: 18px;
    color: #000;
}

/* Search*/
#search{
    padding: 100px 0;
    background-color: #fff;
}
#search h2{
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    color: #273E71;
}
.btn-type{
    margin-right: 7px;
    margin-left: 9px;
    width: 260px;
    height: 50px;
    border: 2px solid #C6F4FF;
    background-color: #f3fff4;
    color: #1AAEAE;
    font-size: 20px;
    font-weight: 600;
}
.btn-type:hover{
    background-color: #C6F4FF;
    border: none;
    color: #273E71;
    transition: .5s;
}
.subjects .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
  }

.subjects .box-container .box {
    padding: 3rem 2rem;
    text-align: center;
    border: 0.1rem solid #0eb582;
    background: #f0fdfa;
    cursor: pointer;
  }

.subjects .box-container .box:hover {
    background: #0eb582;
  }

.subjects .box-container .box:hover h3 {
    color: #fff;
  }

.subjects .box-container .box:hover p {
    color: #eee;
  }

.subjects .box-container .box img {
    height: 10rem;
    margin-bottom: .7rem;
  }

.subjects .box-container .box a {
    font-size: 30px;
    text-transform: capitalize;
    color: #444;
    padding: .5rem 0;
    font-weight: 500;
    text-decoration: none;
  }

.subjects .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
  }
.courses .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
  }

.courses .box-container .box:hover .image img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

.courses .box-container .box.hide {
    display: none;
  }

.courses .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    position: relative;
  }

.courses .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

.courses .box-container .box .image h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #444;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .5rem 1.5rem;
    background: #fff;
  }

.courses .box-container .box .content {
    padding: 2rem;
    text-align: center;
    border: 0.1rem solid #0eb582;
  }

.courses .box-container .box .content h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
  }

.courses .box-container .box .content p {
    padding: 1rem 0;
    font-size: 1.6rem;
    line-height: 2;
    color: #777;
  }

.courses .box-container .box .content .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 0.1rem solid #0eb582;
  }

.courses .box-container .box .content .icons span {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #444;
  }

.courses .box-container .box .content .icons span i {
    color: #0eb582;
    padding-right: .5rem;
  }

.courses .load-more {
    margin-top: 2rem;
    text-align: center;
  }
#company{
    padding-top: 10%;
}
/* .img-card{
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
    margin-bottom: 5px;
}
#card-company{
    max-width: 300px;
    margin: 0 auto;

    margin-top: 40px;
} */
.carding{
    background-color: white;
    padding: 8px;
    height: 500px;

    border-radius: 12px;
    border: 1px solid #bacddb;
}
.carding:hover{
    background: linear-gradient(170deg, #bacddb, #2CA5C5, #e0efff);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
    color: #fff;
    transition: all ease-in-out .3s;
}
.carding img{
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}
.card-company h4{
    font-weight: 500;
    text-transform: uppercase;
}
.card-company p{
    font-size: 14px;
    color: rgb(77, 81, 86);
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.carding:hover .card-company p{
    color: #fff;
    transition: all ease-in-out .3s;
    text-decoration: none;
}
/* .tag{
    padding: 4px 8px;
    border: 1px solid #e0efff;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 500;
    color: #788697;
} */
/* .name{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}
.card p{
    font-size: 14px;
    color: #788697;
    line-height: 150%;
} */

.card-button button{
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
    margin: 0 auto;
    display: block;
    padding-bottom: 10px;
}
.card-button button:focus, .card-button button:hover{
    background-color: #0077ff;
    color: #e0efff;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
/* .card_details {
    padding: 16px 8px 8px 8px;
} */

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3rem;
  }

  .about .image {
   width: 500px;
  }

  .about .image img {
    width: 100%;
  }

  .about .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }

  .about .content .about-title {
    font-size: 3rem;
    text-transform: capitalize;
    color: #444;
  }

  .about .content p {
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
    padding: 1rem 0;
  }

  .about .content .icons-container {
    margin-top: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
  }

  .about .content .icons-container .icons {
    text-align: center;
    border: 0.1rem solid #0eb582;
    background: #f0fdfa;
    padding: 3rem 2rem;
  }

  .about .content .icons-container .icons img {
    height: 5rem;
    margin-bottom: .5rem;
  }

  .about .content .icons-container .icons h3 {
    padding: .5rem 0;
    font-size: 3rem;
    text-transform: capitalize;
    color: #444;
  }

  .about .content .icons-container .icons span {
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
  }
